[project]
	description = Linux term commands like dos commands
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/huajie wang (sohumango)
[access "refs/for/refs/*"]
	read = group user/huajie wang (sohumango)
	push = group user/huajie wang (sohumango)
	label-Code-Review = -2..+2 group user/huajie wang (sohumango)
	label-Verified = -1..+1 group user/huajie wang (sohumango)
	rebase = group user/huajie wang (sohumango)
	removeReviewer = group user/huajie wang (sohumango)
	submit = group user/huajie wang (sohumango)
[access "refs/heads/*"]
	read = group user/huajie wang (sohumango)
	create = group user/huajie wang (sohumango)
	push = +force group user/huajie wang (sohumango)
	pushMerge = group user/huajie wang (sohumango)
[access "refs/tags/*"]
	push = group user/huajie wang (sohumango)
	push = +force group user/huajie wang (sohumango)
